
.alert {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 30px;
    background-color: #c90f0f; 
    color: white;
    border-radius: 5px;
    z-index: 1;
    animation: slideIn 0.5s, fadeOut 0.5s 2.5s; 
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  